---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;

const classes = [
  'max-w-[1720px]',,
  'mx-auto',
  'px-4 md:px-12',
  className
];
---

<div class:list={classes}>
  <slot />
</div>